# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zljcsaovmxhixpzvkanr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsamNzYW92bXhoaXhwenZrYW5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MTAxMDEsImV4cCI6MjA5MjI4NjEwMX0.ybzCswmNu5HFwiYBcOfOcrfN4PrhxvP6pasKB3xj9P0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpsamNzYW92bXhoaXhwenZrYW5yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjcxMDEwMSwiZXhwIjoyMDkyMjg2MTAxfQ.znwNlYnvlNo04Yb00zGDOKflolAeje91F4tXqaq9ENM

# Auth — credenciais da fotógrafa
ADMIN_EMAIL=thais@email.com
ADMIN_PASSWORD=123456

# JWT — gere uma string aleatória longa
JWT_SECRET=59dd92fb8fe37735984b1c561711c9954bd5728b1665b5030724e9e146b23b22
# URL pública do app (sem barra no final)
NEXT_PUBLIC_APP_URL=http://localhost:3000
